
.form-modal {
   padding: 10px 20px;
 }
 
 .form-modal legend {
   width: 100%;
   font-weight: 600;
   font-size: 24px;
   border-bottom: 1px solid rgba(0, 0, 0, 0.5);
 
   margin-bottom: 15px;
 }
 
 .input-block {
   display: flex;
   flex-direction: column;
   margin: 10px 0;
 }
 
 .input-block label {
   font-size: 20px;
   font-weight: 500;
   margin-bottom: 5px;
 }
 
 .input-block input {
   border: 1px solid var(--primary-color);
   font-size: 16px;
   padding: 10px 15px;
   border-radius: 10px;
 }
 
 .input-block select {
   padding: 10px 15px;
   border-radius: 10px;
   font-size: 16px;
   border: 1px solid var(--primary-color);
 }
 
 .input-block textarea {
   min-height: 150px;
   max-height: 300px;
   resize: vertical;
   padding: 10px 15px;
   border-radius: 10px;
   font-size: 16px;
   border: 1px solid var(--primary-color);
 }